body {
  background-color: bisque;
}

#image {
  background-color: black;
  color: white;
  border: 5px solid pink;
  width: 650px;
  height: 70px;
  text-align: center;
  line-height: 65px;
  font-size: 150%;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
